.App {
  text-align: center;
  margin:20px;
}

.container{
  margin:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.linha{
  color:#11cc00;
  display:flex;
  width: 500px;
  height: 100px;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #009700;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#multi{
  display: flex;
  justify-content: center
}
#div_title {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color:white;
  background-color: #0069af;
}
#label_serial{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
#status{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color:#0bdb04e8;
  top: 1;
}
#serial{
  align-items: center;
  size:30px;
  float: center;
  padding-left:5px;
  font-style:italic;
  border-radius:5px;
  font-size:18px;
  border:"black";
  height:50px;
  width:500px;
  position:absolute;
  left:30%;
  top:35.5%;

}
#button{
  background-color: #0069af;
  outline-color: antiquewhite;
  border-radius:5px;
  border-color: rgb(158, 195, 228);
  color:white;
  height:40px;
  width:100px;
  position:absolute;
  left:46%;
  top:48%;
  
}
#result{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  position:absolute;
  top:370px;
  left:585px;
  color:#11cc00;
  
}
table,th,td{
  border:1px solid rgb(163, 163, 163);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding: 10px 4px ;
  border-spacing:0px;

}
#tabela{
  position:absolute;
  top:420px;
  left: 235px;
}